body {
    background-color: map-get($colores, "clr-light");
    color: map-get($colores, "clr-dark");
    min-height: 100vh;

}
a {
    color: map-get($colores, "clr-dark");
    text-decoration: none;
}
header {
    background-color: map-get($colores, "clr-main");
    display: flex;
    justify-content: space-between;
    padding: .5em 2em;
    box-shadow: map-get($colores, "box-shadow");

    .titulo{
        font-size: 2.5rem;

        @include telefono{
            font-size: 1.2rem;
        }

        @include tablet{
            font-size: 2rem;
        }
    }
}

main {
    padding: 2rem;
}